<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Quick links</h4>
                <ul><li>Data Tracker</li>
                    <li>Offers</li>
                    <li>News</li>
                    <li>New Releases</li>
                    <li>About Us</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <img src="../images/footerborder.png" height="250" width="10" style="position: absolute">
            <div class="col-sm-4">
                <h4>We offer</h4>
                <ul><li>Prepaid Recharge</li>
                    <li>Postpaid Bill Payment</li>
                    <li>3G and Mobile Internet</li>
                    <li>Broadband</li>
                    <li>Landline</li>
                </ul>
            </div>
            <img src="../images/footerborder.png" height="250" width="10" style="position: absolute">
            <div class="col-sm-4">
                <h4>Support us at</h4>
                <ul><li><i class="fa fa-facebook"></i> Facebook</li>
                    <li><i class="fa fa-twitter"></i> Twitter</li>
                    <li><i class="fa fa-linkedin"></i> LinkedIn</li>
                    <li><i class="fa fa-google-plus"></i> Google+</li>
                </ul>
            </div>
        </div>
        <p id="copyright">&copy; SkyComm Private Limited 2015.</p>
    </div>
</div>