<% if(req.cookies.revalidate) {
    res.setHeader("Cache-Control", "no-cache,no-store,must-revalidate");
    res.setHeader("Pragma", "no-cache");
    res.setHeader("Expires", "Sat, 26 Jul 1997 05:00:00 GMT");
}
%>
<% if(req.session.ide) { %>
    <a class="btn" data-toggle="collapse" data-target="#profOnHeader" id="loadProf">
        <span class="glyphicon glyphicon-chevron-down"></span> <%= req.session.ide.name %>
    </a>
    <div id="profOnHeader" class="collapse">
        <div class = "row">
        <div class="profPic col-md-5">
        </div>
        <div class="profData col-md-7">
            <p><b><%= req.session.ide.name %></b></p>
            <p class="small"><%= req.session.ide.email %></p>
            <a class="btn btn-primary" href="/profile">Profile</a>
        </div>
        </div>
        <div class="clearfix"></div>
        <p>CustomerID: <%= req.session.ide._id %></p>
        <hr>
        <a class="btn btn-success" href="/account">My Account</a>
        <a class="btn btn-danger" href="/auth/logout">Logout</a>
    </div>
<% } else { %>
    <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#openLogin"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#openRegister"><span class="glyphicon glyphicon-user"></span> Sign up</button>
    </div>
<% } %>