<!doctype html>
<html lang="en">
<head><% include includes/head.html %></head>
<body>
<% include includes/stickyheaders.ejs %>
<div class="container" id="main">
    <h1><%= title %></h1>
</div>
</body>
<% include includes/footer.ejs %>
</html>