<!doctype html>
<html>
<!--Include head-->
<% include includes/head.html %>
<body>
<!--Include header and navigation that stick at th top-->
<% include includes/stickyheaders.ejs %>
<div class="container bg-info">
    <h1><%= users.DataTitle %></h1>
    <div class="well">
        <ol>
            <% users.Users.forEach(function(item){ %>
            <li><%= item.name %> : <%= item.email %></li>
            <% }); %>
        </ol>
    </div>
</div>
</body>
</html>