<!doctype html>
<html lang="en">
<% include includes/head.html %>
<body>
<% include includes/stickyheaders.html %>
<div class="container">
    <h1>Procedure to pay goes here</h1>
</div>
</body>
</html>