<!doctype html>
<html lang="en">
<% include includes/head.html %>
<body>
<% include includes/stickyheaders.ejs %>
<div class="container">
    <h1>Recharge procedure goes here</h1>
</div>
</body>
</html>