<!doctype html>
<html lang="en">
<head>
    <% include includes/head.html %>
</head>
<body>
<% include includes/stickyheaders.ejs %>
<div class="container" id="main">
    <h1><%= title %></h1>
    <div class="btn-group">
        <a class="btn btn-default" href="/services/:id56/56">Item 1</a>
        <a class="btn btn-default" href="/services/:id76/76">Item 2</a>
        <a class="btn btn-default" href="">Item 3</a>
    </div>
</div>
</body>
<% include includes/footer.ejs %>
</html>