body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#mainhead {
  width: 100%;
  background-color: #324353;
}
#mainhead h1 {
  margin-top: 5px;
}
#mainhead button {
  margin-top: 10px;
}
#mainhead h1 a{
  text-decoration: none;
  color:#FFFFFF;
}
#mainhead h1 a:hover, #mainhead h1 a:active {
  background: none;
}
#mainhead input {
  background-color: rgba(0,0,0,0.21);
  border: none;
  margin-top: 10px;
}
.popover {
    color: #324353;
    padding: 10px;
}
#profOnHeader div.row {
    margin-left: 0;
}
.profPic {
    padding-left: 20px;
    background-image: url("../images/user.jpg");
    background-size: 96px 96px;
    height: 96px;
    width: 96px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.profData {
    text-align: left;
}
#loadProf {
  margin-top: 10px;
  font-size: large;
  color: whitesmoke;
}
#loadProf span {
  font-size: small;
}
#loadProf:hover, #loadProf:active, #loadProf:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,0.25);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.navbar {
  min-height: 0;
}
.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 6px;
}
.navbar-nav li {
  height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.navbar-nav li a:hover {
  border-bottom: solid #324353 5px;

}
.navbar-nav li:hover {
    border-top: solid #324353 5px;
    box-shadow: 1px 0 0 rgba(255,255,255,0.1) inset, 0 -100px 0 rgba(0,0,0,0.15) inset;
    -webkit-transition: all 500ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: all 500ms cubic-bezier(0.5, 0, 0.5, 1);
}
.magic {
  border-bottom: solid #324353 5px;
}
#mainhead .glyphicon-search {
  color:grey;
}
#mainhead .glyphicon-chevron-down {
  color: rgba(255,255,255,0.69);
}
.container h1 {
  text-align: center;
  text-decoration: underline;
}
#main {
    margin-top: 130px;
}
#features .col-sm-3 {
    width: 31%;
    padding: 0;
}
#features h3, #features p {
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}
#features a {
    color:inherit;
    text-decoration: none;
}
#features li a {
    color: #1EB093;
    text-decoration: none;
    line-height: 25px;
}
#features .w3-card-2:hover, #features .w3-card-2:active, #features .w3-card-2:focus {
    background-color: rgba(0,0,0,0.05);
}
#features li a:hover, #features li a:active, #features li a:focus {
    text-decoration: underline;
}
.item img {
    width: 100%;
}
#announce1 {

    color: #1EB093;
    height: 180px;
    min-height: 50px;
    background-color: #324353;
}
#announce1 h4 {
    margin-top: 80px;
    text-align: center;
}
.footer {
    padding-top: 30px;
    min-height: 300px;
    background-color: #324353;
    color: #778899;
    border-top: solid #252B33 1px;
    -webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4);
    box-shadow:0 1px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4);
}
.footer .row {
    padding-bottom: 30px;
}
.footer ul {
    list-style: none;
}
.footer .glyphicon {
    font-size: x-large;
}
.footer li {
    line-height: 30px;
}
.footer h4 {
    margin-left: 20px;
    color: #A1B2C3;
}
.footer .fa {
    background: transparent;
    color: #1EB093;
    padding: 6px;
    border-radius: 27px;
    font-size: larger;
    width: 27px;
}
.footer .fa:hover, .footer .fa:focus {
    background-color: #1EB093;
    color:#324353;
}
